.selector-for-some-widget {
    box-sizing: content-box;
  }

h1 {
  font-family:sans-serif;
  text-align: center;
}

h2 {
  font-family: sans-serif;
  text-align: center;
  padding: 10px;
}

.container { 
 margin-top: 9%;
 font-family: sans-serif; 
}
